.page {
  padding: 20px;
  font-family: "Roboto Mono", monospace;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  text-shadow: 0 1px 10px lightskyblue;
}

.textarea {
  margin-bottom: 10px;
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 15px;
  width: 30%;
  min-height: 200px;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  line-height: 1.5;
  box-shadow: 2px 3px 1px lightslategray;
  resize: none;
}

.btn {
  border: 1px solid lightslategray;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
  line-height: 1.5;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  box-shadow: 2px 3px 1px lightslategray;
  transition: color 0.3s ease-in-out;
}

.btn:hover {
  color: lightcoral;
}
